{% extends "home/base.html" %}
{% block content %}
<h2>
    &nbsp HOME
</h2>

{% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <figure>
        <img class="img-thumbnail" 
             src="{{ post.image.url }}" 
             title="{{ post.image_title }}"
             alt="{{ post.image_alt_text}}" >
        </figure>
        <p class="article-content">{{ post.content }}</p>  
        </div>
    </article>
{% endfor %}
{% endblock content %}